:root {
    --darkbg: rgb(25, 25, 43);
    --bg: rgb(10, 8, 15);
    --bb: rgb(255, 217, 142);
    --darkbb: rgb(139, 118, 76);
    --gray: rgb(100, 100, 100);
    --blurple: rgb(110, 84, 255);
    --darkblurple: rgb(70, 52, 172);
}

@font-face {
    font-family: renogare;
    src: url("fonts/renogare.otf");
}

body {
    background-color: rgb(32, 28, 45);
}

html {
    font-size: 62.5%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: renogare;
}

html::-webkit-scrollbar {
    display: none;
}

ul {
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}

p {
    color: white;
}

.bg1 {
    background-image: url(images/bg.png);
    height: 750px;
    z-index: -1;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 2em;
}

.button {
    text-align: center;
    background-color: var(--darkbg);
    width: 300px;
    margin: auto;
    border: 1px var(--gray) solid;
    border-radius: 5px;
    transition: border ease-in-out 0.25s, transform ease-in-out 0.25s, box-shadow ease-in-out 0.25s;
    cursor: pointer;
    overflow: hidden;
    margin-top: 100px;
    box-shadow: 0px 0px 0px var(--darkbb);
}

.button:hover {
    border: 1px var(--bb) solid;
    transform: scale(105%);
    box-shadow: 0px 0px 50px var(--darkbb);
}

.buttonanimation {
    background-color: var(--bb);
    height: 30px;
    width: 0px;
    position: absolute;
    transition: width ease-in-out 0.25s;
    z-index: -1;
}

.button:hover .buttonanimation {
    width: 100%;
}

.buttontext {
    color: var(--gray);
    font-size: 2em;
    transition: color ease-in-out 0.25s;
}

.button:hover .buttontext {
    color: var(--bg);
}

.backbutton {
    background-color: var(--darkbg);
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 1px var(--darkblurple) solid;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease-in-out 0.25s;
}

.backbutton:hover {
    transform: scale(105%);
}

.backbuttontext {
    color: white;
}

.heading {
    text-align: center;
    font-size: 3em;
}