:root {
  --bg: rgb(2, 12, 32);
  --bouncy: cubic-bezier(0, 2, 0.8, 1);
}

@font-face {
  font-family: deca;
  src: url("fonts/deca.ttf");
}
body {
  background-color: black;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: deca;
  color: white;
}

html::-webkit-scrollbar {
  display: none;
}

ul {
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
  color: white;
}

.all {
  rotate: 0;
}

.version {
  z-index: 1;
  position: absolute;
  left: 5px;
  font-weight: 600;
  font-size: 1vw;
  opacity: 25%;
  cursor: pointer;
}

.refresh {
  width: 25px;
  cursor: pointer;
  filter: invert();
}

.refresh-container {
  position: absolute;
  right: 0;
  margin: 10px;
}

.refresh:hover {
  transform: scale(105%);
}

.refresh:active {
  transform: scale(95%);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all ease-in-out 0.25s;
  background-image: url(images/moyai.png);
  background-position: center;
  background-size: cover;
}

.logo {
  position: absolute;
  width: 25vw;
  z-index: 2;
  transition: all ease-in-out 0.25s;
}

.logo-bg {
  position: absolute;
  width: 30vw;
  filter: invert();
  opacity: 25%;
  transition: all ease-in-out 0.25s;
}

.bg-text {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 10;
  opacity: 50%;
  transition: all ease-in-out 0.25s;
}

.arrow {
  position: absolute;
  width: 2vw;
  top: 95vh;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
  animation: arrow 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate
    both;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1vh);
  }
}

.arrow-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-text {
  position: absolute;
  bottom: 5vh;
  font-size: 0.75vw;
  margin: 0 auto;
  transition: all ease-in-out 0.25s;
}

.projects-border {
  height: 5px;
  width: 100vw;
  background-color: rgb(10, 10, 10);
}

.projects-title {
  font-size: 3em;
  font-weight: 900;
}

.projects-container {
  display: flex;
  padding: 25px;
  gap: 25px;
}

.project {
  box-shadow: 0px 0px 0px 2px black, 0px 0px 0px 4px white;
  border-radius: 5px;
  padding: 5px;
  height: 75px;
  width: 300px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: height var(--bouncy) 0.25s;
}

.project:hover {
  height: 100px;
}

.project:hover .project-text {
  letter-spacing: 1px;
}

.project:hover .p-bg1 {
  box-shadow: 0px 0px 50px 5px inset black;
}

.project:active {
  height: 85px;
}

.project:active .project-text {
  letter-spacing: unset;
}

.project-text {
  position: absolute;
  z-index: 2;
  left: 5px;
  transition: letter-spacing var(--bouncy) 0.25s;
}

.p-bg1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 100px 5px inset black;
  background-image: url(images/boximg0.png);
  background-size: 350px;
  transition: box-shadow ease-in-out 0.25s;
}

.s-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 100px 5px inset black;
  background-size: 350px;
  transition: box-shadow ease-in-out 0.25s;
}

.project-title {
  font-size: 2.25em;
  font-weight: 900;
}

.project-desc {
  font-size: 1.25em;
  font-weight: 400;
  white-space: nowrap;
}

.projects-bg {
  position: absolute;
  top: 0;
  background-size: 250px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: bg infinite 5s linear;
  background-image: url(images/projectsbg.png);
}

@keyframes bg {
  100% {
    background-position: 250px 250px;
  }
}

.projects-footer {
  position: absolute;
  bottom: -26px;
  border-top: 1px solid;
  width: calc(100vw - 10px);
  height: 25px;
  display: flex;
  padding-left: 10px;
  background-color: black;
  transition: bottom ease-in-out 0.25s;
}

.projects-tab {
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  transition: letter-spacing var(--bouncy) 0.25s;
}

.projects-tab:hover {
  letter-spacing: 1px;
  background-color: rgb(20, 20, 20);
}

.projects-tab:active {
  letter-spacing: 0px;
  background-color: rgb(30, 30, 30);
}

.chat-all {
  display: flex;
}

.chat-left {
  width: 80vw;
}

.chat-right {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat-body {
  height: 175px;
  background-color: rgb(10, 10, 10);
}

.chat-input-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-input {
  border-radius: 5px;
  width: 100%;
  border: none;
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(20, 20, 20);
  font-family: deca;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.signin-label {
  font-size: 1.25em;
  font-weight: 700;
}

.signin-input {
  background-color: rgb(20, 20, 20);
  border: none;
  font-family: deca;
  padding: 5px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.password {
  text-decoration: dotted;
}

.signin-button {
  background-color: rgb(30, 30, 30);
  color: white;
  border: none;
  padding: 5px;
  font-weight: 700;
  font-family: deca;
  border-radius: 5px;
}

.profile {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat-pfp {
  filter: invert(25%);
  width: 100px;
}

.chat-name {
  font-size: 2em;
  font-weight: 800;
}
