:root {
  --bg: rgb(2, 12, 32);
  --tag1: rgb(80, 156, 83);
}

@font-face {
  font-family: light;
  src: url("fonts/Prompt-Light.ttf");
}

@font-face {
  font-family: normal;
  src: url("fonts/Prompt-Regular.ttf");
}

@font-face {
  font-family: black;
  src: url("fonts/Prompt-Black.ttf");
}

body {
  background-color: black;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: normal;
  color: white;
}

html::-webkit-scrollbar {
  display: none;
}

ul {
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
  color: white;
}

.version {
  z-index: 1;
  position: absolute;
  left: 5px;
  font-weight: 600;
  font-size: 1vw;
  opacity: 25%;
  cursor: pointer;
}

.refresh {
  width: 25px;
  cursor: pointer;
  filter: invert();
}

.refresh-container {
  position: absolute;
  right: 0;
  margin: 10px;
}

.refresh:hover {
  transform: scale(105%);
}

.refresh:active {
  transform: scale(95%);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all ease-in-out 0.25s;
  background-image: url(images/moyai.png);
  background-position: center;
  background-size: cover;
}

.logo {
  position: absolute;
  width: 25vw;
  z-index: 2;
  transition: all ease-in-out 0.25s;
}

.logo-bg {
  position: absolute;
  width: 30vw;
  filter: invert();
  opacity: 25%;
  transition: all ease-in-out 0.25s;
}

.bg-text {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 10;
  opacity: 50%;
  transition: all ease-in-out 0.25s;
}

.arrow {
  position: absolute;
  width: 2vw;
  top: 95vh;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
  animation: arrow 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate
    both;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1vh);
  }
}

.arrow-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-text {
  position: absolute;
  bottom: 5vh;
  font-size: 0.75vw;
  margin: 0 auto;
  transition: all ease-in-out 0.25s;
}

.projects-container {
  height: 25vh;
  padding: 0.25vw;
  z-index: -2;
  display: flex;
  margin: 0.5vw;
  justify-content: space-between;
  gap: 10px;
  transform: translateX(-100vw) skewX(-25deg) rotateX(90deg);
  transition: transform ease-out 0.25s;
  background-image: url(images/projectsbg.png);
  background-size: 250px;
  background-position: 0 100px;
  animation: projectsbg 5s linear infinite;
}

@keyframes projectsbg {
  0% {
    background-position: 0 100px;
  }
  100% {
    background-position: 250px 350px;
  }
}

.title {
  font-family: black;
  font-size: 1.75vw;
}

.boxes {
  display: flex;
  gap: 20px;
}

.box {
  width: 20vw;
  height: 3vw;
  background-color: black;
  box-shadow: 0px 0px 0px 0px black, 0px 0px 0px 1px white,
    inset 0px 0px 75px 10px black;
  padding: 0.5vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  cursor: pointer;
  background-size: cover;
  transition: box-shadow ease-in-out 0.25s, height ease-in-out 0.25s;
}

.box:hover {
  box-shadow: 0px 0px 0px 3px black, 0px 0px 0px 4px white,
    inset 0px 0px 85px 5px black;
  height: 5vw;
}

.box:hover .box-title {
  letter-spacing: 1px;
}

.box-2 {
  width: 20vw;
  background-color: black;
  outline: 1px solid white;
  padding: 0.5vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.box-underlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.5vw;
  left: 0.5vw;
  z-index: -1;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 25%);
}

.box-title {
  font-size: 2vh;
  font-weight: 600;
  transition: all ease-in-out 0.25s;
}

.box-desc {
  font-size: 1.5vh;
  font-weight: 300;
}

.tag {
  font-weight: 600;
  font-size: 0.75vw;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.box-arrow {
  position: absolute;
  bottom: 5px;
  right: 50px;
  width: 2vw;
  opacity: 0;
  transform: rotate(-90deg);
  transition: right ease-in-out 0.25s, opacity ease-in-out 0.25s;
}

.box:hover .box-arrow {
  right: 5px;
  opacity: 1;
}

.social-link-container {
  display: flex;
}

.social-link {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.75vh;
  transition: all ease-in-out 0.25s;
}

.social-link:hover {
  letter-spacing: 1px;
  text-decoration: underline;
}
