:root {
  --bg: rgb(10, 8, 15);
  --darkbg: rgb(17, 17, 29);
  --darkerbg: rgb(10, 10, 17);
}

@media screen and (max-width: 800px) {
  .pretitle {
    font-size: 2em !important;
  }

  .title {
    font-size: 6em !important;
  }

  .lb {
    width: 300px !important;
  }

  .heading1 {
    width: 300px !important;
  }

  .box-all {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 300px !important;
    height: 100px !important;
    margin-top: 20px;
  }

  .box-content {
    opacity: 1 !important;
  }

  .box-pointer {
    opacity: 0;
  }
}

@font-face {
  font-family: renogare;
  src: url("fonts/renogare.otf");
}

body {
  background-color: rgb(32, 28, 45);
  z-index: -1;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: renogare;
  color: white;
}

html::-webkit-scrollbar {
  display: none;
}

ul {
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
  color: white;
}

.navimg {
  text-align: left;
  float: left;
  list-style: none;
  transition: font-size ease-in-out 0.25s;
  cursor: pointer;
  padding: 4px;
  transition: transform ease-in-out 0.25s;
}

.navimg:hover {
  animation: spin 1s linear infinite both;
  cursor: wait;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.navtext {
  text-align: right;
  float: right;
  padding: 1em;
  list-style: none;
  font-size: 1.5em;
  transition: transform ease-in-out 0.25s;
  cursor: pointer;
}

.navtext:hover {
  transform: scale(110%);
}

.line {
  height: 3px;
  width: 0;
  background-color: white;
  transition: width ease-in-out 0.25s;
}

.navtext:hover .line {
  width: 100%;
}

.nav {
  position: sticky;
  top: 18px;
  background-color: rgba(0, 0, 0, 0.25);
}

.navtextleft {
  list-style: none;
}

.version {
  color: white;
  opacity: 10%;
  list-style: none;
  left: 3px;
  position: absolute;
  top: 35px;
  text-decoration: none;
}

.version:hover {
  text-decoration: underline;
}

.version:active {
  transform: scale(90%);
}

.pretitle {
  font-size: 3em;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 8em;
  color: transparent;
  margin: 0;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 1920px;
  background-image: url(images/gradient.png);
  animation: gradient 5s linear infinite;
  text-align: center;
  z-index: 1;
}

@keyframes gradient {
  0% {
  }
  100% {
    background-position: 1920px;
  }
}

.lb {
  height: 5px;
  width: 500px;
  background-color: var(--bg);
  margin: auto;
  opacity: 50%;
}

.desc {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
}

.click-counter {
  margin: 0;
  margin-top: 10px;
  text-align: center;
  color: var(--darkerbg);
}

.dbanimation {
  margin: 0 auto;
  width: 350px;
  cursor: pointer;
}

.dbanimationcenter {
  display: grid;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

.ach {
  position: absolute;
  z-index: 3;
  background-color: var(--darkerbg);
  left: -225px;
  padding: 5px 20px 5px 5px;
  border-radius: 10px;
  transition: left 0.75s cubic-bezier(0.75, -0.5, 0.25, 1.5);
  display: flex;
  opacity: 0;
  cursor: pointer;
}

.ach-db-contents {
  text-align: left;
}

.ach-db-text {
  font-size: 1.25em;
  margin: 0;
}

.ach-db-desc {
  color: grey;
  margin: 0;
}

.ach-icon {
  width: 30px;
  height: 30px;
  filter: invert();
  left: 0;
  bottom: 7px;
  margin-right: 10px;
}

.bg1 {
  background-image: url(images/bg.png);
  z-index: -1;
}

.heading1 {
  font-size: 3em;
  padding: 5px;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 50%);
}

.box-all {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.box {
  display: flex;
  background-color: var(--bg);
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
}

.box-content {
  height: 90%;
  padding: 10px;
  padding-left: 20px;
  width: 180px;
  opacity: 0;
  transform: scale(100%);
  transition: opacity ease-in-out 0.25s, padding-left ease-in-out 0.25s,
    transform ease-in-out 0.25s;
  position: absolute;
  z-index: 1;
}

.box:hover .box-content {
  padding-left: 10px;
  opacity: 1;
  transform: scale(105%);
}

.box-title {
  font-size: 2em;
}

.box-desc {
  color: rgba(0, 0, 0, 50%);
}

.box-img {
  position: absolute;
  filter: blur(0px) brightness(50%);
  transform: scale(105%);
  z-index: 0;
  transition: filter ease-in-out 0.25s, transform ease-in-out 0.25s;
}

.box:hover .box-img {
  filter: blur(5px) brightness(50%);
  transform: scale(110%);
}

.box-arrow {
  position: absolute;
  filter: invert();
  width: 50px;
  bottom: 0;
  right: 30px;
  opacity: 0;
  z-index: 1;
  transition: opacity ease-in-out 0.25s, right ease-in-out 0.25s;
}

.box:hover .box-arrow {
  right: 10px;
  opacity: 1;
}

.box-pointer {
  filter: invert();
  width: 30px;
  transition: opacity ease-in-out 0.25s;
}

.box:hover .box-pointer {
  opacity: 0;
}

.footer-whole {
  background-image: url(images/bg.png);
  height: 50px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.footer {
  width: 200px;
  height: 50px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
}

.footer-icon {
  width: 30px;
  cursor: pointer;
  filter: invert();
}

.footer-icon:hover {
  transform: scale(110%);
}

.footer-icon:active {
  transform: scale(100%);
}

.imgshadow1 {
  position: absolute;
  width: 250px;
  height: 170px;
  box-shadow: inset 0px 0px 20px 20px var(--darkbg);
  margin-top: -171px;
}

.credits-sticky {
  position: sticky;
  top: 18px;
  z-index: 2;
}

.credits {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  background-color: var(--darkerbg);
  transition: width ease-in-out 0.25s, height ease-in-out 0.25s;
  text-align: center;
  border-radius: 10px;
}

.credits:hover {
  width: 110px;
  height: 110px;
}

.creditsicon {
  margin: 3px;
  transition: opacity ease-in-out 0.25s;
  position: absolute;
  left: 3px;
}

.credits:hover .creditsicon {
  opacity: 0%;
}

.creditstext {
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
  font-size: 1.2em;
  overflow: hidden;
}

.credits:hover .creditstext {
  opacity: 100%;
}

.creditlink {
  text-decoration: none;
  color: white;
}

.creditlink:hover {
  font-size: 1.1em;
}

.creditlink:active {
  font-size: 1em;
}

.eddie-all {
  display: grid;
}

.eddie {
  width: 1px;
}
